:root {
  --main-bg-color: #42008d;
  --main-window-color: #5802bb;
  --main-accent-color: #ff7948;
  --nav-color: linear-gradient(360deg, var(--main-window-color) 30%, var(--main-accent-color) 100%); 
  --main-padding: 15px;
  --white: white;
  --box-shadow-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: var(--main-bg-color);
  background-image: url("undraw_online_organizer_ofxm.svg");
  background-position: 110% bottom;
  background-repeat: no-repeat;
}


html {
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
