:root {
  --main-bg-color: #ffffff;
  --main-window-color: #f2f2f2;
  --main-accent-color: #ff695e;
  --nav-color: #3F3D56; 
  --main-padding: 15px;
  --white: white;
  --box-shadow-color: black;
  --main-header-color: #ff695e;
  --bg-art: url("blue_theme_bg_img.svg");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: var(--main-bg-color);
  background-image: var(--bg-art);
  background-position: 113% bottom;
  background-repeat: no-repeat;
}


html {
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
