#navDiv {
    position: fixed;
    margin-top: 0;
    background-color: gainsboro;
    width: 200px;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
}